[submodule "layers/poky"]
	path = layers/poky
	url = https://git.yoctoproject.org/poky
	branch = scarthgap
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://git.openembedded.org/meta-openembedded
	branch = scarthgap
[submodule "layers/meta-raspberrypi"]
	path = layers/meta-raspberrypi
	url = https://git.yoctoproject.org/meta-raspberrypi
	branch = scarthgap
[submodule "layers/meta-ros"]
	path = layers/meta-ros
	url = https://github.com/ros/meta-ros.git
	branch = scarthgap
